/* stu;e start */

/* .player h3{

    padding-left: 5px;
} */
/* font-famely's place */
body{
font-family: 'Poppins', sans-serif;
background-color: #E5E5E5;
}
/* top player style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.player img{
    width: 56px;
    height: 56px;
    
}
players{

}